package bulma

// Creates a card container.
// Accepts children
templ Card() {
	<div class="card">
		{ children... }
	</div>
}

// Creates a image card container.
// Accepts children
templ CardImage() {
	<div class="card-image">
		{ children... }
	</div>
}

//
templ CardImageSize(size string) {
	<figure class={ "image", size }>
		{ children... }
	</figure>
}

templ CardContentContainer() {
	<div class="card-content">
		{ children... }
	</div>
}