package bulma

// Creates a image wrapper.
// This accepts children.
// Use html.Img() to load a image as a child
templ Image(image string) {
    <figure class={ "image", image }>
        { children... }
    </figure>
}