package bulma

// Creates a <section> object thats good to break up a page of content.
templ Section(title, subtitle string) {
	<section class="section">
		<h1 class="title">{ title }</h1>
		<h2 class="subtitle">{ subtitle }</h2>
	</section>
}
